$pinkish: #ed4b86;
$yellowish: #feb500;
$greenish: #01aa57;
$blueish:  #3e80b0;



// To FORCE REFRESH STYLES in the browser use CTRL+F5
*{
	background-color:$blueish;
	
	color:white;
	
	
	
	
}


h1{
	
}


form {
	
	
}

